<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title> <!-- The title page for the website -->
    <link href="/content/styles.css" type="text/css" rel="stylesheet">
    <link rel='stylesheet' href="/@fortawesome\fontawesome-free/css/all.min.css"/>
    <script src="video.js"></script>
</head>

<body>
<div class="main"> <!-- Main area for the webpage -->

    <div class="banner-bar"> <!--Brings you to the other webpages-->
        <header>
            <nav class="navbar">  
                <h1>About Me</h1>
                <ul class="text">
                    <a href="/" class="links"><i class="fa-solid fa-house"></i> Home</a> <!-- Home page-->
                    <a href="about" class="links"><i class="fa-solid fa-person fa-beat"></i> About Me</a> <!-- About Me -->
                    <a href="contact" class="links"><i class="fa-solid fa-xl fa-comment"></i>Contact</a> <!-- Contact page-->
                    <a href="project" class="links"><i class="fa-solid fa-box-open"></i> Projects</a> <!-- Projects page-->
                </ul>
            </nav>
        </header>
    </div>

    <div class="AboutMe"> <!-- Content section -->
        <div class="About-Inner"> <!-- Inner content for AboutMe -->
            <div class="brother">
                <img src="/Assets\\images\\20230321_161830.jpg" alt="NOT FOUND"; width="15%" height="auto"> <!-- This image is my face, the alt is there in case the image cant load. -->
            </div>
            <div class="who">
                <h1>Who Am I?</h1> <!-- Main Title -->
            </div>
                <div class="information">
                <p>Hello! Im Michael Maniatis, the creator of this website. My hobbies include playing video games (my favorite being Red Dead Redemption), talking to friends, listening to music, hanging out with my brother, and Ive even recently got back into card games. This website was created for my first assignment in Web and Script Design. </p>
                <p>Dont be afraid to contact me at <a href="michael.maniatis@ontariotechu.net">Michael.Maniatis@ontariotechu.net</a>, or by clicking the Contact-Me button</p> <!--Another Option to get to my contact page-->
            </div>
            <div class="video">
                <video id="video" controls width="360" width="240" poster="/Assets\\images\\Stand Cole.png" loop preload="auto" autoplay>
                <source src="/Assets\\images\\20230930_132827 (1).mp4" type="video/mp4">   
                </video> <!--The video is allowed to play here-->
            </div>
        </div>
    </div>

    <div class="footer"> <!--footer, contains copyright and email-->
        <footer>
            <p>Github: <a href="https://github.com/Isomak">Github.com/Isomak</a></p> <!--Brings you to my github page-->
            <p>&#169;2024 By Michael Maniatis</p> <!--Copyright-->
        </footer>
        <img src="/Assets\\images\\Stand_Cole_Circle.png" width="15%" height="auto" alt="NOT FOUND";> <!-- An image in the footer -->
    </div>

</div>

</body>
</html>