<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Contact</title> <!-- The title page for the website -->
    <link href="/Content/styles.css" type="text/css" rel="stylesheet">
    <link rel='stylesheet' href="/@fortawesome\fontawesome-free/css/all.min.css"/>
</head>

<body>
<div class="main"> <!-- Main area for the webpage -->

    <div class="banner-bar"> <!--Brings you to the other webpages-->
        <header>
            <nav class="navbar">  
                <h1>Contact Me</h1>
                <ul class="text">
                    <a href="/" class="links"><i class="fa-solid fa-house"></i> Home</a> <!-- Home page-->
                    <a href="about" class="links"><i class="fa-solid fa-person"></i> About Me</a> <!-- About Me -->
                    <a href="contact" class="links"><i class="fa-solid fa-xl fa-comment fa-beat"></i>Contact</a> <!-- Contact page-->
                    <a href="project" class="links"><i class="fa-solid fa-box-open"></i> Projects</a> <!-- Projects page-->
                </ul>
            </nav>
        </header>
    </div>

    <div id="form">
        <form>
            <h1>Contact Me Here</h1> <!--Title For The Contacts Page-->
            <p>Please Fill In The Form Below</p>
            <form action="michael.maniatis@ontariotechu.net" ?subject="SignUp" enctype="text/plain">
                <p>
                    <label>Your Name: </label>
                    <input type="text" name="name" size="40" placeholder="Enter Your Full Name Here" required> <!--Asks for the persons full name, required field-->
                </p>
                <p>
                    <label>Your Email:</label>
                    <input type="email" name="Email" size="40" placeholder="Enter Your Email Address Here" required> <!--Asks user to fill in their personal email-->
                </p>
                <p>
                    <label>Your Phone:</label>
                    <input type="phone" name="Phone" size="40" placeholder="Enter Your Phone Number Here" required> <!--Asks user to fill in their personal email-->
                </p>
                <br>
                <p>
                    <label for="feedback">Comments: </label> <!--The Area for the person to comment, this area can grow and shrink by dragging the bottom right corner.-->
                    <br>
                    <textarea type="feedback" name="comments" cols="45" rows="15"></textarea>
                </p>
                <br>
            <p>
                <input type="Submit" value="Click Here To Submit Form"> <!--Submits the Form-->
                <input type="reset" value="Click Here To Restart Form"> <!--Resets the form-->
            </p>
        </form>
    </div>

    <div class="footer"> <!--footer, contains copyright and email-->
        <footer>
            <p>My Github: <a href="https://github.com/Isomak">Github.com/Isomak</a></p> <!--Brings you to my github page-->
            <p>&#169;2024 By Michael Maniatis</p> <!--Copyright-->
        </footer>
        <img src="/Assets\\images\\Stand_Cole_Circle.png" width="15%" height="auto" alt="NOT FOUND";> <!-- An image in the footer -->
    </div>


</div>

</body>
</html>