<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title> <!-- The title page for the website -->
    <link href="/Content/styles.css" type="text/css" rel="stylesheet">
    <link rel='stylesheet' href="/@fortawesome\fontawesome-free/css/all.min.css"/>
</head>

<body>
<div class="main"> <!-- Main area for the webpage -->

    <div class="banner-bar"> <!--Brings you to the other webpages-->
        <header>
            <nav class="navbar">  
                <h1>Projects</h1>
                <ul class="text">
                    <a href="/" class="links"><i class="fa-solid fa-house"></i> Home</a> <!-- Home page-->
                    <a href="about" class="links"><i class="fa-solid fa-person"></i> About Me</a> <!-- About Me -->
                    <a href="contact" class="links"><i class="fa-solid fa-xl fa-comment"></i>Contact</a> <!-- Contact page-->
                    <a href="project" class="links"><i class="fa-solid fa-box-open fa-beat"></i> Projects</a> <!-- Projects page-->
                </ul>
            </nav>
        </header>
    </div>

    <div id="programs">
        <h2>Some Personal Projects:</h2>
        <br>

        <p></p> <br>
        <div class="ATM">
        <a href="/Assets\\images\\ATM.py" download class="links"> Click Here To See My Working ATM Program</a> </div>
        <p></p> <br> <!--This is the link to my ATM program-->
        <p></p> <br>
        <div class="Guess">
        <a href="/Assets\\images\\GuessingGame.py" download class="links"> Click Here To See My Word Guessing Game</a> <br> </div>
        <p></p> <br> <!--this is the link to my Guessing game program-->
        <p></p> <br>
        <div class="Calc">
        <a href="/Assets\\images\\Calculator.py" download class="links"> Click Here To See My Calculator Program</a> </div>
        <p></p> <br> <!--this is the link to my calculator program-->
        <p></p> <br>
        <div class="Sum">
        <a href="/Assets\\images\\SumOfDigits.py" download class="links"> Click Here To See My Digit Sum Calculator</a> <br> </div>
        <p></p> <br> <!--This is the link to my digit sum program-->
        <p></p> <br>
        <p></p> <br>    

    </div>

    <div class="footer"> <!--footer, contains copyright and email-->
        <footer>
            <p>My Github: <a href="https://github.com/Isomak">Github.com/Isomak</a></p> <!--Brings you to my github page-->
            <p>&#169;2024 By Michael Maniatis</p> <!--Copyright-->
        </footer>
        <img src="/Assets\\images\\Stand_Cole_Circle.png" width="15%" height="auto" alt="NOT FOUND";> <!-- An image in the footer -->
    </div>